@using Microsoft.AspNetCore.Identity
@using ASP.NETCoreIdentityCustom.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav" style="font-size: 18px; padding-right: 12px; margin-right: 20px;">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item" style="margin-right: inherit;">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="" title="Manage">@UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item" style="padding-top: 7px;">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-danger text-dark" style="font-size: 16px;">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
