@{
    ViewData["Title"] = "Manager Page";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-Hqe3s+yLpqaBbXM6VA0cnj/T56ii5YjNrMT9v+us11Q81L0wzUG0jEMNECtugqNu2Uq5MSttCg0p4KK0kCPVaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url("https://source.unsplash.com/1600x900/?medical,clinic");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .icon-bar {
        width: 100%;
        background-color: #56D;
        overflow: auto;
    }

        .icon-bar a {
            float: left;
            width: 25%;
            text-align: center;
            padding: 12px 0;
            transition: all 0.3s ease;
            color: white;
            font-size: 36px;
        }

            .icon-bar a:hover {
                background-color: #000;
            }

</style>


<div class="icon-bar">
    <a asp-controller="Patient" asp-action="PatientDashboard"><i class="fa-solid fa-bed-pulse"></i></a>
    <a asp-controller="Medicine" asp-action="MedicineManage"><i class="fa-solid fa-pills"></i></a>
     <a asp-controller="PrescriptionView" asp-action="PrescriptionManagement"><i class="fa-solid fa-prescription"></i></a>
    <a asp-controller="Report" asp-action="PrescriptionReport"><i class="fa-solid fa-file"></i></a>
</div>
